.Button{
    border: 5px black solid;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-top:2%;
    padding: 5px;
    width: 70%;
    font-size: 200%;
}
.TitleM{
    font-family: sans-serif;
    text-align: center;
    margin: auto;   
    width: 90%;
    font-size: 200%;
}
#FirstMenu, #SecondMenu, #ThreethMenu{
    margin-top:3%;
    margin-bottom:3%;
    width:50%;
}
#FirstMenu{
    float: left;
}
#SecondMenu{
    float: right;
}
#ThreethMenu{
    margin:auto;
}

#SherchPanel{
    display:none;
}
#NameSPanel{
    margin:auto;
    font-family: sans-serif;
    width:100%;
    font-size: 50px;
    text-align: center;
    color: white;
    background-color: gray;
    padding:10px;
}

.FR { border-color: #00ff6c; }     /* Français */
.AG { border-color: #8700ff; }     /* Anglais */
.ESP { border-color: #ffb600; }    /* Espagnol */
.ALM { border-color: #317941; }    /* Allemand */
.HIT { border-color: #00b2ff; }    /* Histoire */
.GEO { border-color: #0008ff; }    /* Géographie */
.EMC { border-color: #885c09; }    /* Éducation morale et civique */
.SES { border-color: #606bca; }    /* Science économique et sociale */
.MAT { border-color: #ff0f00; }    /* Math */
.PH  { border-color: #b2ff00; }    /* Physique */
.SNT { border-color: #60cabd; }    /* Science numérique et technologique */
.SVT { border-color: #7fff68; }    /* Science de la vie et de la Terre */